body {
    font-family: "Roboto",sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}
.header{
    background-color: #E7E9FC;   
}
.logo{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.webstudio{
    color: #2e2f42;
}
.the-first-link{
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
} 
.the-first-link:hover{
    color: #404bbf;
}
.the-first-link:focus{
    color: #404bbf;
}
.first-link{
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.address{
    font-style: normal;
}
.address{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.address:hover{
    color:#404bbf;
}
.address:focus{
    color: #404bbf;
}

.grey {
    background-color: #2E2F42;
}
.site-name{
    background-color: #2E2F42;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.btn{
font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em
    
}
.btn:hover{
    background-color:#404BBF;
}
.btn:focus{
 background-color:#404BBF;
}
.team{
    background-color: #F4F4FD;
}
.table-title{
   color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.table-name{
    background-color: #FFFFFF;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.first-list-photos{
    background-color: #FFFFFF;
}
.table-subname{
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.table-subname-one{
    color: #434455;
        background-color: #FFFFFF;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer{
    background-color: #2E2F42;
}
.low-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.low-studio{
    color: #f4f4fd
}
.foot-par{
        color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio{
    background-color: #E7E9FC;
}
.characteristics{
    background-color: #E7E9FC;
}